
.hBookmarkAddPanel {
    -moz-binding: url("chrome://hatenabookmark/content/addPanel.xml#add-panel");
}

.hBookmarkTagComplete {
   -moz-binding: url("chrome://hatenabookmark/content/addPanel.xml#tag-complete");
}
.hBookmarkTagSelector {
   display: block;
   -moz-binding: url("chrome://hatenabookmark/content/addPanel.xml#tag-selector");
}
.hBookmarkImageSelector {
   -moz-binding: url("chrome://hatenabookmark/content/addPanel.xml#image-selector");
}
.hBookmarkImageSelector > popupset > panel {
   max-width: 500px;
}
.hBookmarkImageSelector > vbox > image,
.hBookmarkImageSelector > popupset > panel > hbox > image {
   max-width: 100px;
   max-height: 100px;
}
#hBookmarkFavoriteBookmarkTooltip {
   -moz-binding: url("chrome://hatenabookmark/content/addPanel.xml#favorite-bookmark-tooltip");
}
label[emptytext] {
   -moz-binding: url("chrome://hatenabookmark/content/addPanel.xml#placeholder-label");
}
checkbox[preference] {
   -moz-binding: url("chrome://hatenabookmark/content/addPanel.xml#preference-checkbox");
}
.hBookmarkLink {
   -moz-binding: url("chrome://hatenabookmark/content/addPanel.xml#link");
}


