* {
    font-family:"Arial","Helvetica",sans-serif;
}

.username-line {
    background: #eee url("chrome://hatenabookmark/skin/images/logo-text.png") no-repeat 5px center;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
}

.username-line label {
  margin: 0;
}

.labelHeader {
  font-weight: bold;
  margin-right: 1em;
}

dialog#hBookmarkAddPanelWindow {
  padding: 0;
}

#hBookmarkAddPanelContent {
}

#logo-text {
  margin-left: 5px;
}

grid.mainGrid {
  margin: 10px;
}

label[anonid="titleLabel"] {
  font-size: 1.4em;
  font-weight: bold;
}

hbox[anonid="messageRow"] {
    padding: 4px;
    margin: 5px 3px 5px 3px;
    background-color: #FFDDDD;
    -moz-border-radius: 3px;
    font-weight: bold;
    color: #555;
}

#logo-image {
  -moz-image-region: rect(0px, 14px, 14px, 0px);
  clip: rect(0px, 14px, 14px, 0px);
}

[anonid="usersRow"] {
  min-height: 18px;
}

label[anonid="usersField"] {
  background: url(chrome://hatenabookmark/skin/images/page.gif) left 0px no-repeat;
  color: #FF6e6e !important;
  font-weight: bold;
  padding-left: 14px;
  font-size: 10px;
  font-family: verdana;
}

textbox {
}

button[anonid="editTitleButton"],
button[anonid="cancelEditTitleButton"] {
  font-size: 11px;
}

[anonid="commentCounterField"] {
   color: #808080;
}
[anonid="commentCounterField"].hBookmarkCommentOver {
   color: #ff0000;
}

.hBookmarkTag, .hBookmarkSelectedTag {
   border: 1px solid transparent;
   cursor: pointer;
   padding:2px 3px;
   -moz-border-radius: 2px;
}

.hBookmarkSelectedTag {
   background-color: #559be6;
   color: #ffffff;
   border: 1px inset #559be6;
}

.dialog-button-box {
  margin: 10px;
}

caption {
   background-color: rgba(255, 255, 255, 1) !important; 
}

groupbox {
    -moz-appearance: none;
    border: 2px solid #eee !important;
    -moz-border-radius: 5px !important;
}

.hBookmarkCommandLabel {
   color: #808080;
   text-decoration: underline;
   cursor: pointer;
}

[anonid="tagSelector"] {
   overflow: auto;
}


.hBookmarkAddPanel {
    -moz-binding: url("chrome://hatenabookmark/content/addPanel.xml#add-panel");
}

.hBookmarkTagComplete {
   -moz-binding: url("chrome://hatenabookmark/content/addPanel.xml#tag-complete");
}
.hBookmarkTagSelector {
   display: block;
   -moz-binding: url("chrome://hatenabookmark/content/addPanel.xml#tag-selector");
}
#hBookmarkFavoriteBookmarkTooltip {
   -moz-binding: url("chrome://hatenabookmark/content/addPanel.xml#favorite-bookmark-tooltip");
}
label[emptytext] {
   -moz-binding: url("chrome://hatenabookmark/content/addPanel.xml#placeholder-label");
}
checkbox[preference] {
   -moz-binding: url("chrome://hatenabookmark/content/addPanel.xml#preference-checkbox");
}
.hBookmarkLink {
   -moz-binding: url("chrome://hatenabookmark/content/addPanel.xml#link");
}


