/* toolbar */
#hBookmarkToolbar {
  min-height: 26px;
}

#hBookmark-toolbar-add-button {
  list-style-image: url("chrome://hatenabookmark/skin/images/buttons.png");
  -moz-image-region: rect(0px 25px 23px 0px);
}

#hBookmark-toolbar-add-button:active {
  -moz-image-region: rect(23px 25px 46px 0px);
}

toolbar[iconsize="small"] #hBookmark-toolbar-add-button {
  list-style-image: url("chrome://hatenabookmark/skin/images/buttons.png");
  -moz-image-region: rect(46px 16px 62px 0px);
}

toolbar[iconsize="small"] #hBookmark-toolbar-add-button:active {
  -moz-image-region: rect(62px 16px 78px 0px);
}

#hBookmark-toolbar-home-button {
  list-style-image: url("chrome://hatenabookmark/skin/images/buttons.png");
  -moz-image-region: rect(0px 50px 23px 25px);
}

#hBookmark-toolbar-home-button:active {
  -moz-image-region: rect(23px 50px 46px 25px);
}

toolbar[iconsize="small"] #hBookmark-toolbar-home-button {
  list-style-image: url("chrome://hatenabookmark/skin/images/buttons.png");
  -moz-image-region: rect(46px 32px 62px 16px);
}

toolbar[iconsize="small"] #hBookmark-toolbar-home-button:active {
  -moz-image-region: rect(62px 32px 78px 16px);
}

#hBookmarkDropdownButton {
  list-style-image: url("chrome://hatenabookmark/skin/images/buttons.png");
  -moz-image-region: rect(0px 75px 23px 50px);
}

#hBookmarkDropdownButton:active {
  -moz-image-region: rect(23px 75px 46px 50px);
}

toolbar[iconsize="small"] #hBookmarkDropdownButton {
  list-style-image: url("chrome://hatenabookmark/skin/images/buttons.png");
  -moz-image-region: rect(46px 48px 62px 32px);
}

toolbar[iconsize="small"] #hBookmarkDropdownButton:active {
  -moz-image-region: rect(62px 48px 78px 32px);
}

#hBookmarkToolbar > [anonid="sidebarToggleButton"] {
  list-style-image: url("chrome://hatenabookmark/skin/images/buttons.png");
  -moz-image-region: rect(46px 183px 62px 164px);
  cursor: pointer;
}

#hBookmarkToolbar > [anonid="sidebarToggleButton"][checked="true"] {
  list-style-image: url("chrome://hatenabookmark/skin/images/buttons.png");
  -moz-image-region: rect(62px 183px 78px 164px);
  cursor: pointer;
}

/* XXX */
#hBookmarkToolbar > [anonid="sidebarToggleButton"] > label {
    display: none;
}

#hBookmarkToolbar {
   -moz-binding: url("chrome://hatenabookmark/content/toolbar.xml#toolbar");
}
#hBookmark-toolbar-dropdown {
   -moz-binding: url("chrome://hatenabookmark/content/toolbar.xml#dropdown");
}

