#hBookmark-toolbar-add-button {
  -moz-image-region: rect(0px 111px 23px 75px);
}

#hBookmark-toolbar-add-button:active {
  -moz-image-region: rect(23px 111px 46px 75px);
}

toolbar[iconsize="small"] #hBookmark-toolbar-add-button {
  -moz-image-region: rect(0px 111px 23px 75px);
}

toolbar[iconsize="small"] #hBookmark-toolbar-add-button:active {
  -moz-image-region: rect(23px 111px 46px 75px);
}

#hBookmark-toolbar-home-button {
  -moz-image-region: rect(0px 147px 23px 111px);
}

#hBookmark-toolbar-home-button:active {
  -moz-image-region: rect(23px 147px 46px 111px);
}

toolbar[iconsize="small"] #hBookmark-toolbar-home-button {
  -moz-image-region: rect(0px 147px 23px 111px);
}

toolbar[iconsize="small"] #hBookmark-toolbar-home-button:active {
  -moz-image-region: rect(23px 147px 46px 111px);
}

#hBookmarkDropdownButton {
  -moz-image-region: rect(0px 183px 23px 147px);
}

#hBookmarkDropdownButton:active {
  -moz-image-region: rect(23px 183px 46px 147px);
}

toolbar[iconsize="small"] #hBookmarkDropdownButton {
  -moz-image-region: rect(0px 183px 23px 147px);
}

toolbar[iconsize="small"] #hBookmarkDropdownButton:active {
  -moz-image-region: rect(23px 183px 46px 147px);
}

#hBookmarkToolbar > [anonid="sidebarToggleButton"] {
  list-style-image: url("chrome://hatenabookmark/skin/images/favicon.ico");
}

