
/* context menu*/

#hBookmark-menu-addlink,
#hBookmark-menu-addentry {
  list-style-image: url("chrome://hatenabookmark/skin/images/buttons.png");
  -moz-image-region: rect(46px 16px 62px 0px);
}

#hBookmark-status-home {
  list-style-image: url("chrome://hatenabookmark/skin/images/home.gif");
}

#hBookmarkAddButton {
  margin: 0 1px;
  cursor: pointer;
}

#hBookmark-statusBarPanel > .hBookmark-status-count-container {
  cursor: pointer;
}
.hBookmark-status-count-container {
  /*background-image: url("chrome://hatenabookmark/skin/images/nbookmarks.png");*/
  width: 32px;
  height: 16px;
  padding-right: 2px;
  /*
  padding:2px 3px 0 0;
  margin:0px;
  */
  opacity: 0.6;
  text-align: right;
  font-size: 10px;

  font-family: verdana;
  font-weight: bold;
  -moz-box-align: center;
  -moz-box-pack: end;
}

.hBookmark-status-count-container label {
    display: none;
}

.hBookmark-status-count-container[users="none"] {
    /*
    display:none;
    padding-left:0px;
    padding-right:0px;
    */
}

.hBookmark-status-count-container[users="few"] ,
.hBookmark-status-count-container[users="many"] {
    /*
    display:inline;
    padding-left:0px;
    padding-right:0px;
    font-weight: bold;
    color: #333;
    */
}

.hBookmark-status-separator {
  height: 16px;
  margin: 0;
  padding: 0;
}

#hBookmark-status-comment {
  list-style-image: url("chrome://hatenabookmark/skin/images/buttons.png");
  -moz-image-region: rect(62px 130px 78px 114px);
  cursor: normal;
}

#hBookmark-status-comment[comment="true"] {
  cursor: pointer;
  -moz-image-region: rect(46px 130px 62px 114px);
}

#hBookmark-status-comment[comment="false"] {
  cursor: normal;
  -moz-image-region: rect(62px 130px 78px 114px);
}

#hBookmark-status-comment[loading="true"] {
  cursor: pointer;
  list-style-image: url("chrome://hatenabookmark/skin/images/comment_loading.png");
  -moz-image-region: auto;
}

#hBookmark-comment-viewer {
  /*
width: 800px;
*/
}

#hBookmark-panel-comment {
    -moz-appearance: none;
    /*
    background-color: rgba(252,249,237,1) !important;
    background-color: rgba(252,249,237,0.95) !important;
    background-color: rgba(0,0,0,1) !important;
    */
    font-size: 1.2em;
    line-height: 1.3;
    color: #000;
}
#hBookmark-panel-comment .panel-arrowcontent {
    padding: 0;
}

#hBookmark-comment-container {
    background-color: #F5F9FE;
    -moz-border-top-colors: #2c6ebd !important;
    -moz-border-right-colors: #2c6ebd !important;
    -moz-border-bottom-colors: #2c6ebd !important;
    -moz-border-left-colors: #2c6ebd !important;
    -moz-border-color: #000 !important;
    border-width: 4px !important;
    border-style: solid;
}

#hBookmark-comment-favicon {
    width: 16px;
    height: 16px;
}

#hBookmark-comment-toggle {
    cursor: pointer;
}

#hBookmark-comment-footer {
    border-top: 1px #ddd solid;
    background: #eee;
    padding: 10px;
}

#hBookmark-comment-footer > hbox {
    /* スター読み込みアイコンとスターとの高さの違いによるがたつきを防ぐ。 */
    min-height: 20px;
}

#hBookmark-comment-list-container {
    display: block;
    overflow-y: auto;
    margin: 2px;
}

#hBookmark-comment-favicon {
    -moz-margin-end: 4px;
}
#hBookmark-comment-title,
#hBookmark-comment-stars-loading-indicator,
#hBookmark-comment-page-stars-box,
#hBookmark-comment-users,
#hBookmark-comment-pub-pri-users {
    -moz-margin-start: 4px;
    -moz-margin-end: 4px;
}
#hBookmark-comment-toggle {
    -moz-margin-start: 4px;
}

#hBookmark-comment-favicon {
    width: 16px;
    height: 16px;
}

#hBookmark-comment-users {
    cursor: pointer;
    text-decoration: underline;
    color: #FF6e6e;
    font-weight: bold;
    font-size: 0.9em;
}

#hBookmark-comment-pub-pri-users {
    font-size: 0.9em;
    text-decoration: none;
    color: #555;
}

#hBookmark-comment-expanded-page-stars-container {
    line-height: 0.82em;
    margin-top: 0.32em;
}

/* vbox */
#hBookmark-comment-list {
}

#hBookmark-comment-description {
}

#hBookmark-comment-list hbox {
    /*
    max-width: 300px;
    */
}


/*
 * url bar ovarlay
 */
#PopupAutoCompleteRichResult[hiddenByHBookmark="true"] {
    /* XXX */
    /*
    visibility: hidden !important; 
    -moz-appearance: none !important;
    background-color: transparent !important;
    display: none;
    */
}

#urlbar[searchenabled="true"] {
    -moz-appearance: none !important;
    background-color: #DCEEFF !important;
}

#hBookmark-search-icon {
  list-style-image: url("chrome://hatenabookmark/skin/images/search_on.png");
  visibility: inherit !important;
}
#hBookmark-search-icon[searchdisabled="true"] {
  list-style-image: url("chrome://hatenabookmark/skin/images/search.png");
  visibility: inherit !important;
}

#hBookmark-panel-urlbar {
  margin: 0px !important;
  padding: 0px !important;
  -moz-appearance: none !important;
  border: 1px solid !important;
  -moz-border-top-colors: #000 !important;
  -moz-border-right-colors: #000 !important;
  -moz-border-bottom-colors: #000 !important;
  -moz-border-left-colors: #000 !important;
}

#hBookmark-urlbar-listbox {
    -moz-appearance: none !important;
    margin: 0px !important;
    padding: 0px !important;
}

#hBookmark-urlbar-listbox > scrollbox {
    /* 横スクロールバー消す */
  /*
    overflow-x: hidden !important;
    */
}

.hBookmark-urlbar-listitem {
    border-bottom:1px solid ThreeDShadow;
    padding: 2px;
}

.hBookmark-urlbar-entrylink {
  list-style-image: url("chrome://hatenabookmark/skin/images/b_link.gif");
  cursor: pointer;
  display: none;
}

.hBookmark-urlbar-entryedit {
  list-style-image: url("chrome://hatenabookmark/skin/images/edit.gif");
  cursor: pointer;
  margin-top: 3px;
}


#hBookmark-urlbar-listbox * label.hBookmark-urlbar-title {
    font-size: 1.2em;
}

#hBookmark-urlbar-listbox * label.hBookmark-urlbar-tags {
  color: #66c;
}

#hBookmark-urlbar-listbox * label.hBookmark-urlbar-commentbody {
  color: #555;
}

#hBookmark-urlbar-listbox * label.hBookmark-urlbar-commentnone {
  color: #BBB;
  font-style: italic;
}

#hBookmark-urlbar-listbox * label.hBookmark-urlbar-url {
  color: green;
}

#hBookmark-urlbar-listbox * label.hBookmark-urlbar-date {
  color: #999;
}

/* tag complete */
#hBookmark-panel-tagcomplete {
    margin: 0px !important;
    padding: 0px !important;
    -moz-appearance: none !important;
    border: 1px solid !important;
    -moz-border-top-colors: #555 !important;
    -moz-border-right-colors: #555 !important;
    -moz-border-bottom-colors: #555 !important;
    -moz-border-left-colors: #555 !important;
}

#hBookmark-tagcomplete-listbox {
    min-width: 150px;
    -moz-appearance: none !important;
    margin: 0px !important;
    padding: 0px !important;
}

.hBookmark-tagcomplete-listitem {
    padding: 2px 0px 2px 0px;
}

.hBookmark-tagcomplete-listitem[selected="true"] {
    background-color: #2C6EBD;
    cursor: pointer !important;
    color: #fff !important;
    font-weight: bold;
}
.hBookmark-tagcomplete-listitem[current="true"] {
    background-color: #2C6EBD;
    cursor: pointer !important;
    color: #fff !important;
    font-weight: bold;
}

/*
.hBookmark-tagcomplete-listitem:hover {
    background-color: #2C6EBD;
    cursor: pointer !important;
    color: #fff !important;
    font-weight: bold;
}
*/

