
@namespace url(http://www.w3.org/1999/xhtml);
/* XHTML_NS CSS */

#hBookmark-comment-div {
    -moz-user-focus: normal !important;
    -moz-user-select: text !important;
}

#hBookmark-comment-list {
  margin: 0px;
  padding: 0px;
}

#hBookmark-comment-close {
  cursor: pointer;
  padding:0 6px;
  float: right;
}

#hBookmark-comment-list li img {
 vertical-align: middle;
}

#hBookmark-comment-list {
  margin: 10px;
}

li.notice {
    color: #333 !important;
    border-bottom: 0px dotted #ddd !important;
}

#hBookmark-comment-list li {
  text-indent: -20px;
  padding: 0px 20px 8px 20px;
  margin: 0 0 8px 0;
  word-wrap: break-word;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
}

#hBookmark-comment-list li a.username {
  font-weight: normal;
  padding: 0 3px;
  color: #00d !important;
  font-size: 90%;
}

#hBookmark-comment-list li.mine a.username {
  font-weight: bold;
} 

span.comment {
  padding: 0 3px 0 5px;
}

span.timestamp {
  color: #999;
  font-size: 80%;
} 

a.tag {
  text-decoration: none;
  color: #66c;
  font-size: 90%;
}

a.users {
  text-decoration: underline;
  color: #FF6e6e;
  font-weight: bold;
  padding-left: 14px;
}

a.commentlink {
  text-decoration: underline;
  color: #66c;
  padding-left: 3px;
  padding-right: 3px;
}
