

#BrowserPreferences radio[pane] {
  list-style-image: none;
  -moz-image-region: rect(0px 0px 0px 0px);
}

.paneButtonIcon {
    display: none;
}

.paneButtonLabel {
    padding-top: 5px;
    padding-bottom: 5px;
}

checkbox[src] > .checkbox-label-box {
    -moz-box-align: center;
}

checkbox[src] > .checkbox-label-box > .checkbox-icon {
    -moz-margin-end: 5px;
}

/*
.windowDialog,
.windowDialog prefpane {
  padding: 1000px;
}
*/

