@namespace "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

.hBookmark-searchbar-mode-menuitem[selected="true"] {
    font-weight: bold;
}

.hBookmark-searchbar-mode-menuitem[value="all"] {
    list-style-image: url("moz-icon://.css?size=16");
    /* -moz-image-region: rect(0px, 16px, 16px, 0px); */
}
.hBookmark-searchbar-mode-menuitem[value="title"] {
    list-style-image: url("moz-icon://.html?size=16");
}
.hBookmark-searchbar-mode-menuitem[value="comment"] {
    list-style-image: url("moz-icon://.exe?size=16");
}
.hBookmark-searchbar-mode-menuitem[value="url"] {
    list-style-image: url("moz-icon://.url?size=16");
}
