@namespace "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

.hBookmark-searchbar-mode-menuitem[selected="true"] {
    font-weight: bold;
}

.hBookmark-searchbar-mode-menuitem {
    list-style-image: url("chrome://hatenabookmark/skin/images/buttons.png");
}

.hBookmark-searchbar-mode-menuitem[value="all"] {
    -moz-image-region: rect(46px, 16px, 62px, 0px);
}
.hBookmark-searchbar-mode-menuitem[value="title"] {
    -moz-image-region: rect(46px, 32px, 62px, 16px);
}
.hBookmark-searchbar-mode-menuitem[value="comment"] {
    -moz-image-region: rect(46px, 48px, 62px, 32px);
}
.hBookmark-searchbar-mode-menuitem[value="url"] {
    -moz-image-region: rect(46px, 64px, 62px, 48px);
}
