/* toolbar */
#hBookmarkToolbar {
  min-height: 26px;
}

#hBookmark-toolbar-add-button,
#hBookmark-toolbar-home-button,
#hBookmark-toolbar-sidebar-button {
  padding: 0 !important;
}

#hBookmark-toolbar-add-button     > .toolbarbutton-icon,
#hBookmark-toolbar-sidebar-button > .toolbarbutton-icon,
#hBookmark-toolbar-home-button > .toolbarbutton-menubutton-button > .toolbarbutton-icon {
  margin: 0px 6px !important;
}

#hBookmark-toolbar-home-button > .toolbarbutton-menubutton-button {
  padding: 0px !important;
}

#hBookmark-toolbar-home-button > .toolbarbutton-menubutton-button > .toolbarbutton-icon {
  -moz-margin-end: 3px !important;
}

#hBookmark-toolbar-recent-button > .toolbarbutton-icon,
#hBookmark-toolbar-recent-button > hbox > vbox > .toolbarbutton-icon {
  margin: 0px 3px !important;
}

toolbarpaletteitem[place="toolbar"] .hBookmark-toolbar-dynamic-item {
  display: none;
}

#hBookmark-toolbar-sidebar-button {
  list-style-image: url("chrome://hatenabookmark/skin/images/buttons.png");
  -moz-image-region: rect(0px 208px 23px 183px);
}

#hBookmark-toolbar-sidebar-button[checked="true"] {
  -moz-image-region: rect(23px 208px 46px 183px);
}

toolbar[iconsize="small"] #hBookmark-toolbar-sidebar-button {
  -moz-image-region: rect(46px 180px 62px 164px);
}

toolbar[iconsize="small"] #hBookmark-toolbar-sidebar-button[checked="true"] {
  -moz-image-region: rect(62px 180px 78px 164px);
}

#hBookmark-toolbar-add-button {
  list-style-image: url("chrome://hatenabookmark/skin/images/buttons.png");
  -moz-image-region: rect(0px 25px 23px 0px);
}

#hBookmark-toolbar-add-button:active {
  -moz-image-region: rect(23px 25px 46px 0px);
}

toolbar[iconsize="small"] #hBookmark-toolbar-add-button {
  -moz-image-region: rect(46px 16px 62px 0px);
}

toolbar[iconsize="small"] #hBookmark-toolbar-add-button:active {
  -moz-image-region: rect(62px 16px 78px 0px);
}

#hBookmark-toolbar-home-button {
  list-style-image: url("chrome://hatenabookmark/skin/images/buttons.png");
  -moz-image-region: rect(0px 50px 23px 25px);
}

#hBookmark-toolbar-home-button:active {
  -moz-image-region: rect(23px 50px 46px 25px);
}

toolbar[iconsize="small"] #hBookmark-toolbar-home-button {
  -moz-image-region: rect(46px 32px 62px 16px);
}

toolbar[iconsize="small"] #hBookmark-toolbar-home-button:active {
  -moz-image-region: rect(62px 32px 78px 16px);
}

#hBookmark-toolbar-recent-button {
  list-style-image: url("chrome://hatenabookmark/skin/images/buttons.png");
  -moz-image-region: rect(0px 75px 23px 50px);
}

#hBookmark-toolbar-recent-button:active {
  -moz-image-region: rect(23px 75px 46px 50px);
}

toolbar[iconsize="small"] #hBookmark-toolbar-recent-button {
  -moz-image-region: rect(46px 48px 62px 32px);
}

toolbar[iconsize="small"] #hBookmark-toolbar-recent-button:active {
  -moz-image-region: rect(62px 48px 78px 32px);
}

.paletteRow > #wrapper-hBookmark-toolbar-recent-line > .toolbarpaletteitem-box {
  width: 25px;
  height: 23px;
  background: url("chrome://hatenabookmark/skin/images/buttons.png") -244px 0px no-repeat;
  /* -moz-image-region doesn't work for background images */
  /* -moz-image-region: rect(0px 269px 23px 244px); */
}

.hBookmark-tag-filter-button {
  list-style-image: url("chrome://hatenabookmark/skin/images/buttons.png");
  -moz-image-region: rect(46px 196px 62px 180px);
}

.hBookmark-tag-filter-button > .toolbarbutton-icon {
  margin: 0 2px !important;
}

.hBookmark-tag-filter-button > .toolbarbutton-text {
  display: -moz-box !important;
  margin: 0 2px !important;
}

#hBookmarkToolbar .hBookmark-toolbar-dynamic-item > .bookmark-item {
  max-width: none;
}

/* アイコンがあったほうがいい? */
/*
toolbarbutton[anonid="loginButton"] {
  list-style-image: url("");
}
toolbarbutton[anonid="hatenaGuideButton"] {
  list-style-image: url("");
}
toolbarbutton[anonid="bookmarkGuideButton"] {
  list-style-image: url("");
}
*/
