
/* 
 * XXX
 */
.hBookmark-status-count-container label {
    display: inline !important;
    opacity: 1 !important;
    cursor: pointer !important;
}

.hBookmark-status-count-container image {
    display: none !important;
}
