/*
#hatenastar-status-panel[hatenastar="false"] {
  list-style-image: url("chrome://hatenabar/content/skin/star_off.png");
}

#hatenastar-status-panel[hatenastar="true"] {
  list-style-image: url("chrome://hatenabar/content/skin/star_on.png");
}

#hatena-addbookmark-panel {
  list-style-image: url("chrome://hatenabar/content/skin/b_append.png");
}
*/

#hBookmark-status-home {
  list-style-image: url("chrome://hatenabookmark/content/skin/home.gif");
  border-right: 0px !important;
}

#hBookmark-status-add[added="false"] {
  list-style-image: url("chrome://hatenabookmark/content/skin/b.gif");
}

#hBookmark-status-add[added="true"] {
  list-style-image: url("chrome://hatenabookmark/content/skin/b_added.gif");
}

#hBookmark-status-count {
}


#hBookmark-status-count[users="false"] {
    display:none;
}

#hBookmark-status-count[users="few"] ,
#hBookmark-status-count[users="many"] {
    padding-left:3px;
    padding-right:3px;
    font-weight: bold;
    color: #FF0000;
    background-color: #FFCCCC;
}
    
