
/* StatusBar */
#hBookmark-status-home {
  list-style-image: url("chrome://hatenabookmark/content/skin/home.gif");
}

#hBookmark-status-add[added="false"] {
  list-style-image: url("chrome://hatenabookmark/content/skin/b.gif");
}

#hBookmark-status-add[added="true"] {
  list-style-image: url("chrome://hatenabookmark/content/skin/b_added.gif");
}

#hBookmark-status-count {
}

#hBookmark-status-count[users="none"] {
    display:none;
    padding-left:0px;
    padding-right:0px;
}

#hBookmark-status-count[users="few"] ,
#hBookmark-status-count[users="many"] {
    display:inline;
    padding-left:3px;
    padding-right:3px;
    font-weight: bold;
    color: #FF0000;
    background-color: #FFCCCC;
}
    
#hBookmark-status-comment {
  list-style-image: url("chrome://hatenabookmark/content/skin/b_comment.gif");
}


