/* BASIC {{{ */
body,h1,h2,h3,h4,h5,h5,ul,ol,li,dl,dt,dd,form,textarea,input,select,blockquote {
  margin: 0;
  padding: 0;
  list-style: none;
  font: 95%/1.4 "Arial", "Helvetica", sans-serif;
}

body {
  background: #edf1fd;
}

img { 
  border: none;
  vertical-align: middle;
}

h1 {
    padding: 7px;
    margin-bottom: 0.5em;
    border: 1px solid #2c6ebd;
    border-bottom: #16375e solid 1px;
    font-weight: bold;
    color: #fff;
    background: #2c6ebd url("chrome://hatenabookmark/content/skin/images/title_bg.png") left center;
    -moz-border-radius: 2px;
    position: fixed;
    width: 100%;
    margin: 0px;
}

fieldset {
  border: 0;
}

input {
  *margin: -1px 0;
}

.note {
    font-size: 90%;
}

*{
  margin:0;
  padding:0;
}

ul#list {
  padding: 45px 0 2em 7px;
}

ul#list li {
  text-indent: 0px;
  display: list-item;
  padding: 3px 20px 3px 5px;
  margin: 0;
  color: #000;
  word-wrap: break-word;
  line-height: 1.4;
}

ul#list li a.username {
  font-weight: normal;
  padding: 0 3px 0 3px;
  color: #00d;
}

ul#list li.mine a.username {
  font-weight: bold;
} 

span.comment {
  padding: 0 3px 0 3px;
}

span.timestamp {
  color: #888;
  font-size: 80%;
} 

a.tag {
  text-decoration: none;
  color: #66c;
  font-size: 90%;
}

a#close-button {
  position: absolute;
  right: 20px;
  top: 8px;
}
